.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://homezennextjs.vercel.app/_next/static/media/slider-1.4ff3abf6.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
  color: white;
  text-align: center;
  padding: 20px;
}

.header {
  margin-bottom: 50px;
}

.header h1 {
  font-size: 3em;
}

.header p {
  font-size: 1.2em;
}

.search-section {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black; /* Text color inside search section */
}

.buttons {
  display: flex;
  margin-bottom: 20px;
  background: transparent;
}

.buttons .btn-rent, .buttons .btn-sale {
  padding: 20px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s; /* Added transition for hover effect */
}

.buttons .btn-rent:hover, .buttons .btn-sale:hover {
  background-color: red;
  color: black;
  font-weight: 600;
  transform: scale(1.05); /* Added scale transform on hover */
}

.search-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 20px 30px;
  border-radius: 10px;
  flex-wrap: wrap; /* Allow items to wrap */
}

.search-boxes input, .search-boxes select, .search-boxes button {
  width: 100%;
  max-width: 130px;
}

.search-boxes .input-keyword, 
.search-boxes .input-location, 
.search-boxes .input-type, 
.search-boxes .input-price, 
.search-boxes .btn-find {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-boxes .btn-find {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Added transition for hover effect */
}

.search-boxes .btn-find:hover {
  background-color: darkred;
  transform: scale(1.05); /* Added scale transform on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2em;
  }

  .header p {
    font-size: 1em;
  }

  .search-boxes {
    flex-direction: column;
    align-items: stretch;
  }

  .search-boxes input, .search-boxes select, .search-boxes button {
    max-width: 100%;
    margin: 5px 0;
  }

  .buttons .btn-rent, .buttons .btn-sale {
    padding: 15px 10px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5em;
  }

  .header p {
    font-size: 0.8em;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons .btn-rent, .buttons .btn-sale {
    margin: 5px 0;
  }
}
